$color-orange: hsl(35, 93%, 54%);
$color-orange-dark:#f7981d;

.titre-home {
  $color-orange: #f79e1e !important;
}

.links-mobiles {
  .mobile-only {
    display: none;
  }
}

.container-home {
  min-height: 41vh;
  margin-right: 10%;
  margin-left: 10%;


  h3 {
    margin-bottom: 30px;
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }

  .content-home {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }

  .content-text {
    width: 45%;
    margin-right: 3%;

    h3 {
      margin-bottom: 30px;
      font-size: 26px;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      color: $color-orange-dark;
    }

    h4 {
      margin-bottom: 0;
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
    }

    p {
      font-size: 16px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      margin-bottom: 25px;
    }
  }

  .content-img {
    width: 70%;
    height: 500px;
    background-image: linear-gradient(90deg,rgba(240, 240, 240,.2),transparent 90%), asset-url("Card5");
    background-size: cover;
    border-radius: 6px;
    // border: rgba($color: $color-gray, $alpha: .052) 1px solid;
    box-shadow: 0px 0px 4px rgba($color: $color-gray, $alpha: .15);
  }
}

// @media(max-width: 1000px) {
//   .container-home {
//     position: absolute;
//     top: 780px;
//     margin-left: 6%;
//     margin-right: 6%;
//   }
// }

@media(max-width: 500px) {
  .container-home {
//     position: absolute;
//     top: 930px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 5%;
    margin-right: 5%;

    .menu-link {
      display: none;
    }

    .links-mobiles {
      display: flex;
      display: block;
      .mobile-only {
        display: block;
      }
    }

    .content-home {
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;

      .content-text {
        width: 100%;
        margin: 0;
      }

      .content-img {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}
