// Import page-specific CSS files here.
@import "home";
@import "session";
@import "cars";
@import "show";
@import "agence";
@import "new";

$color-orange: hsl(35, 93%, 54%);
$color-orange-dark:#f7981d;

$color-gray: #6e6e6e;
$color-darkgray: rgb(30, 30, 30);
