$color-default: #f79e1e;
$color-orange: #f79e1e;
$color-orange-dark:#f7981d;
$color-orange-very-dark:#db8718;

.container-new {
  min-height: 90vh;
  top: 30px;
  position: relative;
}

.photo-form {
  width: 70%;

  img {
    width: 100%;
    -webkit-clip-path: polygon(0px 0,100% 0,100% 100%,64px 100%);
    height: 705px;
    object-fit: cover;
  }
}

.photo-form-edit {
   img {
    height: 805px !important;
  }
}

.container-edit {
  min-height: 89vh;
  top: 30px;
  position: relative;
}

.infos-new-car {
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 18px;
  z-index: 10;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba($color: #000000, $alpha: .2) 0px 0px 10px;

  .info-text {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

    h5 {
      font-weight: 700;
      font-size: 18px;
      color: $color-orange-very-dark;
      margin-bottom: 0;
    }
    p {
      font-weight: 300;
      font-size: 16px;
      color: gray;
      margin-bottom: 0;
    }
  }
}

#car_model {
  .text-bold {
    font-weight: bold;
  }
}

.titre-formulaire {
  color: rgb(80, 80, 80);
  font-weight: bold;
}

.formulaire-new-edit {
  height: 805px !important;
}

.formulaire-new {
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  height: 705px;
  width: 100%;
  padding-left: 12%;
  padding-right: 0px;
  align-items: center;
  margin-top: -33px;
  // margin-bottom: -32px;
  // position: absolute;
  // top: 30px;

  .text-form{
    width: 40%;
    margin-right: 10%;
  }

  h1 {
    width: 90%;
    font-weight: 900;
    font-size: 33px;
    color: $color-orange-dark;
    margin-bottom: 30px;
  }

  // img {
  //   width: 68%;
  //   height: 90%;
  //   object-fit: cover;
  //   z-index: 1;
  //   -webkit-clip-path: polygon(0px 0,100% 0,100% 100%,64px 100%);
  // }
}

@media(max-width: 500px) {
  .container-new {
    margin-bottom: 45px;
    min-height: 76vh;
  }

  .container-edit {
    margin-bottom: 0;
  }

  .infos-new-car {
    padding: 26px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    height: 300px;
  }

  .formulaire-new {
    flex-direction: column;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 18px;
    height: 76vh;

    .photo-form {
      width: 120%;
      img {
        width: 100%;
        -webkit-clip-path: none;
        height: 315px;
        margin-bottom: 20px;
        object-fit: cover;
      }
    }

    .deux-columns {
      display: flex;
      justify-content: space-between;
    }

    #car_brand {
      width: 165px;
    }
    #car_model {
      width: 165px;
    }
    #car_year_of_production {
      width: 165px;
    }
    #car_price_per_day {
      width: 165px;
    }

    .text-form {
      width: 100%;
      margin-right: 0;
      h1 {
        display: none;
      }
      .titre-formulaire {
        opacity: .7;
        font-size: 14px;
      }
    }
  }
}
