.container-new {
  min-height: 86vh;
}

#car_model {
  .text-bold {
    font-weight: bold;
  }
}

.titre-formulaire {
  color: rgb(80, 80, 80);
  font-weight: bold;
}

.formulaire-new {
  display: flex;
  background-color: white;
  height: 90vh;
  width: 100%;
  padding-left: 12%;
  padding-right: 0px;
  align-items: center;
  position: absolute;
  top: 30px;

  .text-form{
    width: 45%;
    margin-right: 4%;
  }

  h1 {
    width: 90%;
    font-weight: 900;
    font-size: 33px;
    color: $color-orange-dark;
    margin-bottom: 30px;
  }

  img {
    width: 68%;
    height: 90%;
    object-fit: cover;
    -webkit-clip-path: polygon(0px 0,100% 0,100% 100%,64px 100%);
  }
}
