.main-container-login {
  min-height: 86.5vh;
  padding-top: 6vh;
}

#main-container-forgot-password {
  padding-top: 3vh;
}

#main-container-inscription {
  padding-top: 1vh;
}

#session-inscription {
  flex-direction: row-reverse;
  max-height: 80vh;
}

#img-inscription-container {
  width: 65%;
}

#img-inscription {
  height: 80vh;
  border-radius: 0 12px 12px 0;
}

.container-login {
  width: 65%;
  min-width: 420px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0 0px 6px rgba($color: #585858, $alpha: .1);
  border: 1px solid rgb(225, 225, 225);


  .log-form {
    min-width: 150px;
    width: 45%;
    margin-left: 7%;
    margin-right: 8%;
    h2 {
      margin-bottom: 20px;
    }

    a {
      color: rgb(130, 130, 130);
    }
  }

  .img-connection {
    width: 40%;
  }

  .img-connection-forgot {
    width: 100%;
    // height: 65vh;
  }

  #img-forgot-password {
    height: 70vh;
  }

  .img-backgound {
    background-image: asset-url("photo.png");
    background-size: cover;
    width: 100%;
    border-radius: 12px 0 0 12px;
  }

  #img-signup {
    max-width: 455px;
    background-image: asset-url("photo_inscription.jpeg");
  }

  #forgot-password {
    width: 50%;
    margin-left: 11%;
    margin-right: 11%;
  }
}

#container-forgot-password {
  // width: 40%;
  height: 70vh;
}

@media(max-width: 500px) {
  .img-connection {
    display: none;
  }


  #session-inscription {
    border-radius: 0;
  }

  #main-container-inscription {
    padding-top: 0;
  }

  #container-forgot-password {
    #forgot-password {
      width: 100%;
    }
  }

  #main-container-forgot-password {
    padding-top: 0;
  }

  #container-forgot-password {
    border-radius: 0;
  }

  .main-container-login {
    padding-top: 0;
    min-height: 79vh;
  }

  .container-login {
    width: 100%;
    margin: 0px auto;
    min-height: 79vh;
    min-width: 30px;

    .log-form {
      width: 90%;
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  .img-connection-forgot {
    display: none;
  }
}
