.main-container-login {
  min-height: 86.5vh;
  padding-top: 6vh;
}
.container-login {
  width: 65%;
  min-width: 420px;
  display: flex;
  align-items: center;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0 0px 6px rgba($color: #585858, $alpha: .1);
  border: 1px solid rgb(225, 225, 225);

  .log-form {
    min-width: 150px;
    width: 45%;
    margin-left: 7%;
    margin-right: 8%;
    h2 {
      margin-bottom: 20px;
    }

    a {
      color: rgb(130, 130, 130);
    }
  }

  .img-connection {
    width: 40%;
  }

  .img-backgound {
    background-image: asset-url("photo.png");
    background-size: fill;
    width: 100%;
    // max-width: 400px;
    // min-width: 200px;
  }

  #img-signup {
    max-width: 455px;
    background-image: asset-url("photo_inscription.jpeg");
  }

  #forgot-password {
    width: 100%;
  }
}

#container-forgot-password {
  width: 40%;
  height: 400px;
}

@media(max-width: 500px) {
  .img-connection {
    display: none;
  }

  .main-container-login {
    padding-top: 0;
    min-height: 79vh;
  }

  .container-login {
    width: 100%;
    margin: 0px auto;
    min-height: 79vh;
    min-width: 30px;

    .log-form {
      width: 90%;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}
