<div class="banner-home">
  <div class="container-banner-home text-left">
    <h1 class='title'>Louez votre voiture</h1>
    <h2>En quelques clics</h2>
      <div class="paragraphe">
        <p>Remplissez les champs, <br> réservez, <strong>partez !</strong></p>
      </div>
        <%= form_tag cars_path, method: :get, class:"search" do %>
      <div class="search-address">
        <%# <label for="address" class="search-label">Lieu de départ</label> %>
        <div class="search-inline">
          <%# <i class="fas fa-search white-color"></i> %>
          <%= text_field_tag :address, params[:address], class: "form-control-home", placeholder: "Entrez une adresse..." %>
        </div>
      </div>
      <%= submit_tag "Rechercher", class: "btn rechercher", id:"btn-banner" %>
    <% end %>
  </div>
</div>


<div class="container-home">
  <h3 class="titre-home">Les offres du moment sur les locations de voitures et d'utilitaires</h3>
  <div class="cards-home">
    <div class="card-home" id="card-home1">
      <h4 class="px-4 text-center">Simple et rapide !</h4>
      <div class="card-home-pop">
        <p>Jusqu'à</p>
        <h6>10%</h6>
        <p>de remise</p>
      </div>
    </div>
    <div class="card-home" id="card-home2">
      <h4 class="px-4 text-center">Prenez vos rêves <br> pour des réalités</h4>
      <div class="card-home-pop">
        <p>Jusqu'à</p>
        <h6>10%</h6>
        <p>de remise</p>
      </div>
    </div>
    <div class="card-home" id="card-home3">
      <h4 class="px-4 text-center">En route pour l'aventure</h4>
      <div class="card-home-pop">
        <p>Jusqu'à</p>
        <h6>10%</h6>
        <p>de remise</p>
      </div>
    </div>
    <div class="card-home" id="card-home4">
      <h4 class="px-4 text-center">Envie d'être dépaysé ?</h4>
      <div class="card-home-pop">
        <p>Jusqu'à</p>
        <h6>10%</h6>
        <p>de remise</p>
      </div>
    </div>
  </div>
  <div class="content-home">
    <div class="content-text">
      <h3>Voici la nouvelle manière <br> de louer une voiture</h3>
      <h4>Louez pour une heure ou pour plusieurs jours</h4>
      <p>Louez pour une heure ou pour plusieurs jours</p>
         <h4> Un prix adapté pour chaque trajet</h4>
         <p> Réservation, ouverture et fermeture du véhicule</p>
          <h4>Des voitures en bas de chez vous</h4>
          <p> Des dizaines de milliers de voitures en Europe : <br> citadines, utilitaires, familiales</p>
      <a href="#" class="btn rechercher" id="btn-carte">En savoir plus</a>
    </div>
    <div class="content-img">
    </div>
  </div>
</div>
