$color-gray: #6e6e6e;
$color-darkgray: rgb(30, 30, 30);

.avatar {
  width: 40px;
  border-radius: 50%;
  border: $color-gray solid 1px;
  // margin-right: 20px;
}
.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

@media(max-width: 500px) {
  .avatar {
    width: 30px;
  }

  .avatar-large {
    border: 1px solid gray;
  }
}
