$color-orange: #f79e1e;

.banner-home {
  height: 500px;
  width: 100%;
  background-image: asset-url("Banner-01.svg");
  background-size: cover;
  background-position: right;
  color: rgb(40, 40, 40);
  margin-bottom: 40px;

  .container-banner-home {
    padding-left: 90px;
    padding-top: 50px;
    width: 47%;
  }

  .title {
    color: white;
    margin-bottom: 5px;
    font-size: 55px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
  }

  h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    margin-bottom: 5px;
    color: $color-orange;
  }

  p {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin: 0;
    margin-bottom: 60px;
    margin-top: 5px;
    color: white;
  }

  .focus {
    color: rgb(240, 240, 240);
    font-weight: bold;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    margin-top: 5px;
    text-shadow: 1px 1px 3px rgba($color: #585858, $alpha: 1);;
  }
}

.inline {
  display: flex;
  align-items: flex-end;
}


.banner-car {
  position: relative;
  margin-bottom: -22px;
  top: -22px;
  height: 140px;
  background-image: asset-url("fond_degrade.png");
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;

  .container-banner-home {
    width: 70%;
  }
}

@media(max-width: 1000px) {
  .banner-car {
    .container-banner-car {
      width: 100%;
    }
  }
}

@media(max-width: 500px) {
  .banner-home {
    height: 95vh;
    background-image: asset-url("banner-mobile.svg");
    position: absolute;
    top: 63px;

    .container-banner-home {
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 12%;
      width: 100%;
    }
  }

  .banner-car {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 200px;

    .container-banner-car {
      width: 80%;
      .search {
        margin-top: 10px;
      }
    }
  }
}
