$color-default: #868686;
$color-dark-default: #505050;
$color-orange: #f79e1e;
$color-darkgray: rgba(30, 30, 30, .4);

.btn-primary {
  background-color: $color-default;
  border: $color-default;
   &:hover {
     background-color: $color-dark-default;
     border: $color-dark-default;
   }
}

.rechercher {
  background-color: none;
  border: 3px solid $color-orange;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 6px 14px;

  &:hover {
    color: $color-orange;
    background-color: rgba($color: white, $alpha: .1);
  }
}

.voir-carte {
  width: 130px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.voirlacarte-inline {
  display: flex;
  margin-bottom: 20px;
}

.voir-carte {
  margin-right: 10px;
}

.trait {
  border-bottom: 1.5px solid $color-darkgray;
  width: 100%;
}
