$color-default: #868686;
$color-dark-default: #505050;
$color-orange: #f79e1e;
$color-darkgray: rgba(30, 30, 30, .4);

.btn-primary {
  background-color: $color-default;
  border: $color-default;
   &:hover {
     background-color: $color-dark-default;
     border: $color-dark-default;
   }
}

.rechercher {
  background-color: none;
  border: 3px solid $color-orange;
  border-radius: 6px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 6px 14px;

  &:hover {
    color: $color-orange;
    background-color: rgba($color: white, $alpha: .1);
  }
}

#sur-fond-blanc {
  color: $color-orange;
  &:hover {
  //  color: rgba($color: $color-orange, $alpha: .5)
  opacity: .5;
  }
}


#btn-carte {
  width: 220px;
  color: $color-orange;
  margin-right: 20px;
  border-radius: 6px;
  border: 2px solid $color-default;
  &:hover {
    border: 3px solid $color-orange;
  }
}

.voir-carte, .voir-liste {
  margin-bottom: 0;
  width: 130px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.voirlacarte-inline {
  display: flex;
  margin-bottom: 20px;
}

.voir-carte {
  margin-right: 10px;
}

.trait {
  border-bottom: 1.5px solid $color-darkgray;
  width: 100%;
}


@media(max-width: 500px) {
  #btn-carte {
    width: 100%;
    margin: 0;
  }
}
