$color-default: #f79e1e;
$color-orange: #f79e1e;
$color-orange-dark:#f7981d;


.new_car {
  // width: 85%;
  margin: 0 auto;
  .ap-input-icon{
    left: 17px;
  }

  .form-control {
    background-color: white;
    height: 42px;
    border: rgba($color-brown, $alpha: 0.5) 1px solid;
    border-radius: 6px;


    &::placeholder {
    color: rgb(180, 180, 180);
    }

    &:hover {
      background-color: rgba($color-orange, $alpha: 0.15);
      box-shadow: rgba($color: #000000, $alpha: .15) 0px 0px 6px;
    }

    &:focus {
      border-bottom: 4px solid $color-default;
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none;

      &::placeholder {
        color: $color-default;
      }
    }
  }
}

.edit_car {
  margin: 0 auto;
  .ap-input-icon{
    left: 17px;
  }

  .form-control {
    background-color: white;
    height: 42px;
    border: rgba($color-brown, $alpha: 0.5) 1px solid;
    border-radius: 6px;


    &::placeholder {
    color: rgb(180, 180, 180);
    }

    &:hover {
      background-color: rgba($color-orange, $alpha: 0.15);
      box-shadow: rgba($color: #000000, $alpha: .15) 0px 0px 6px;
    }

    &:focus {
      border-bottom: 4px solid $color-default;
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none;

      &::placeholder {
        color: $color-default;
      }
    }
  }
}

.car_photo {
  label {
    display: none;
  }
  input[type=file]::-webkit-file-upload-button {
    background-image: asset-url("banner-car-mobile2.png");
    background-size: cover;
    opacity: .9;
    color: white;
    height: 42px;
    width: 170px;
    margin-right: 15px;
    padding-top: 6px;
    text-align: center;
    border: rgba($color-brown, $alpha: 0.5) 1px solid;
    border-radius: 6px;
    cursor: pointer;
  }
}

.car_address-form {
  #car_address {
    padding-left: 35px;
  }
}

@media(max-width: 500px) {
  .new_car {
    width: 100%;
  }

  .form-control {
    &:hover {
      background-color: white;
    }
    &:focus {
      background-color: white;
    }
  }
}
