// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";
@import "footer";
@import "modal";
@import "search";
@import "cards-home";
@import "btn";
@import "accordeon";
@import "map";

$color-orange: hsl(35, 93%, 54%);
$color-orange-dark:#f7981d;
$color-gray: #6e6e6e;
$color-darkgray: rgb(30, 30, 30);
