.modal-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, Opacity 0.5s;
  z-index: 11;
}

.bg-active{
   visibility: visible;
   opacity: 1;
}

.modal-container {
  padding: 20px;
  width: 100%;
  height: 52vh;
  background-color: white;
  border-radius: 16px 16px 0 0;
  position: absolute;
  bottom: -431px;
  cursor:pointer;
    -webkit-transition: -webkit-transform 0.75s ease;
    -moz-transition: -moz-transform 0.75s ease;
    -o-transition: -o-transform 0.75s ease;
    transition: transform 0.75s ease;
}

.pushObject {
    transform: translateY(-450px);
    -webkit-transform: translateY(-450px);
    -ms-transform: translateY(-450px);
    -o-transform: translateY(-450px);
    -moz-transform: translateY(-450px);
}

// .modal{
//   position: relative;
//   font-family: 'Montserra', sans-serif;
//   background-color: white;
//   background-image: asset-url('card-en-construction-01.png');
//   background-repeat: no-repeat;
//   background-position: right;
//   background-size: 400px;
//   top: 45px;
//   width: 70%;
//   max-width: 900px;
//   height: 80%;
//   display: flex;
//   justify-content: space-around;
//   padding-left: 60px;
//   align-items: flex-start;
//   flex-direction: column;
//   z-index: 10;
//   border-radius: 6px;
// }

.modal-close{
  width: 100%;
  // background-color: red;
  height: 52vh;
  position: absolute;
  top: -132%;
}
