$color-gray: #6e6e6e;
$color-darkgray: rgb(30, 30, 30);
$color-orange-dark:#f7981d;

.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar {
  padding-top: 8px;
  padding-right: 1.5rem;
  padding-bottom: 8px;
  padding-left: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 6px 6px rgba($color: #585858, $alpha: .1);
  border-bottom: 1px solid rgb(225, 225, 225);

  .avatar-display {
    display: flex;
    align-items: center;

    p  {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }

  .navbar-brand {
    display: flex;
    align-items: center;

    img {
      width: 100px;
    }

    h1 {
      font-weight: bold;
      margin-left: 20px;
      margin-right: 30px;
      font-size: 22px;
      margin-bottom: 0;
    }
  }

  .top-menus {
    display: flex;
    align-items: center;
  }

  .inscription {
    display: flex;
    align-items: baseline;
    font-size: 17px;

    p{
      margin-bottom: 0;
    }
  }

  .menu-link {
    text-decoration: none;
    color: $color-gray;
    // margin-right: 15px;
    margin-left: 15px;
    width: 170px;

    &:hover {
      color: $color-darkgray;
      font-weight: 700;
    }
  }

  #acceuil {
    width: 70px;
  }

  .menus {
    display: flex;
    align-items: center;
  }
}

.profil-user {
  display: flex;
  padding-left: 2%;
  align-items: flex-end;
  margin-bottom: 20px;
  // padding-bottom: 15px;
  // border-bottom: 1px solid $color-gray;
}

.profil-text {
  text-align: left;
  margin-left: 15px;

  p {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 16px;
    color: $color-orange-dark;
  }
  a {
    padding: 0;
    font-weight: 300;
    font-size: 14px;
    color: $color-gray;
  }
}

@media(max-width: 500px) {
  .menu-link {
    display: none;
  }

  .navbar-lewagon {
    background-image: asset-url("banner-car-mobile2.png");
    background-size: cover;
    background-position-y: -196px;
  }

  .navbar-lewagon-white {
    border-bottom: 1px solid white !important;
    box-shadow: 0 6px 6px rgba($color: #585858, $alpha: .1) !important;
  }

  .navbar {
    background-color: transparent;
    border-bottom: none;
    box-shadow: none;
  }

  .picto-menus {
    width: 25px;
    height: 25px;
    opacity: .35;
    margin-right: 20px;
  }

  #smaller {
    width: 22px;
    height: 22px;
  }

  #smaller2 {
    width: 23px;
    height: 23px;
    margin-right: 15px;
  }

  .links-in-line {
    border-bottom: 1px solid rgb(190, 190, 190);
    display: flex;
    align-items: center;
  }

}
