$color-default: #f79e1e;
$color-orange: #f79e1e;
$color-orange-dark:#f7981d;

.container-banner-car {
  width: 80%;
}

.ap-name {
  color: $color-orange-dark;
}

.ap-suggestion-icon svg {
  fill: $color-orange-dark;
  &:hover {
    fill: $color-orange-dark;
  }
}

.search {
  display: flex;
  color: white;
  width: 100%;
  margin-top: 20px;
  align-items: flex-end;

  .search-inline {
    display: flex;
    align-items: center;
  }

  .btn-primary {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  .search-label {
    color: $color-default;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 0;
  }

  #address {
    padding-left: 33px;
    margin-left: -20px;
    margin-right: 20px;
    color: $color-orange;
  }

  .search-address {
    width: 100%;
  }


}

.fa-search {
  font-size: 20px;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.white-color {
  color: rgb(240, 240, 240);
  transition: .75s ease;
}

.dark-grey-color {
  color: $color-default;
  transition: .75s ease;
}

.form-control-home {
  background-color: transparent !important;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 400;
  width: 100%;
  line-height: 50px;

  &::placeholder {
  color: rgb(240, 240, 240);
  }

  &:focus {
    border-bottom: 2px solid $color-default;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;

    &::placeholder {
      color: $color-default;
    }
  }
}

input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

@media(max-width: 500px) {
  .search {
    margin-top: 245px;
    flex-direction: column;
    align-items: normal;

    .search-address {
      margin-bottom: 15px;
    }

    #address {
      width: 105%;
    }
  }

}
