// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

$color-orange: hsl(35, 93%, 54%);
$color-orange-dark:#f7981d;
$color-gray: #6e6e6e;
$color-darkgray: rgb(30, 30, 30);
